.container {
  border: 1px solid black;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
  border: 1px solid black;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-blackjack-row-1,
.flex-blackjack-row-2 {
  background-image: url("https://us.123rf.com/450wm/natalt/natalt1202/natalt120200034/12447589-poker-table-felt-background-in-green-color.jpg?ver=6");
  color: #ffffff;
}
.flex-blackjack-row-1 div {
  border: 1px solid black;
  padding: 10px;
  flex: 1;
  height: 350px;
  text-align: center;
}
.flex-blackjack-row-1 img {
  width: 25%;
  padding: 10px;
}

.flex-blackjack-row-2 button {
  border: 1px solid black;
  padding: 10px;
}

.flex-blackjack-row-2 div {
  border: 1px solid black;
  padding: 10px;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
}
